* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

:root {
  --grey: #f9f9f9;
  --text: #474747;
  --white: #fff;
  --dark: #2d2e32;
  --black: #000;
  --blue: #3D5AFE;
  --purple: #7C4DFF;
  /* --gray: #467904; */
  --gray: #162e4c;
  --grey-light: #B0BEC5;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Poppins',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: -apple-system, BlinkMacSystemFont, 'Poppins', sans-serif;
  font-size: 2.5em;
}

h2 {
  font-family: -apple-system, BlinkMacSystemFont, 'Poppins', sans-serif;
  font-size: 30px;
}

span,
p {
  font-family: inherit;
  color: var(--text);
  font-size: 16px;
  line-height: 25px;
}

p {
  margin: 20px 0;
}

blockquote {
  background-color: #1f1f1f;
  border-left: 4px solid #333;
  padding: 30px;
  margin: 20px 0;
  font-size: 16px;
  font-family: monospace;
  max-width: "100%";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: var(--purple);
}

.whatsapp {
  position: fixed;
  background-color: #25d366;
  padding: 18px;
  border-radius: 100%;
  bottom: 5vh;
  right: 20px;
  color: #fff;
}

.whatsapp svg {
  font-size: 35px;
}